$modal-backdrop-color: transparentize($gray-dark, .6);
$modal-container-shadow: 0 .5rem 1rem $modal-backdrop-color;

.modals
{
    /* контейнер в котором размещены окна */
    &-container {
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0; left: 0;
        overflow: hidden;

        * { box-sizing: border-box; }

        /* контейнер модального окна */
        &__item {
            display: flex;
            align-items: flex-start;
            justify-items: center;
            justify-content: center;
            overflow: hidden;
            position: fixed;
            padding: 1.5rem;
            width: inherit;
            height: inherit;

            &.overflow {
                overflow-y: auto;
            }
        }
    }

    /* подложка для окон */
    &-backdrop {
        background-color: $modal-backdrop-color;
        position: fixed;
        width: inherit;
        height: inherit;
    }
}

/* модальное окно */
.modal
{
    background-color: white;
    position: relative;
    margin: auto; // выравнивание окна по-центру
}

// .modals-backdrop - стиль подложки (фона) модальных и диалоговых окон